body{
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}

.wrapper {
        background-color: #cce7ff;
        width: 1200px;
        border: 2px solid #333;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
      }

h1{
    font-family: monospace;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anggota, .anggota-kelompok, a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.anggota{
    font-size: 35px;

}

img{
    width: 250px;
}

.anggota-kelompok{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}